*{
    padding: 0%;
    margin: 0%;
}

.navbar{
    background: rgb(58,134,255);
background: linear-gradient(90deg, rgba(58,134,255,1) 1%, rgba(246,0,192,1) 100%);
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Bree Serif', serif;
    position: sticky;
}
a{
    text-decoration: none;
}

#flexitem0{
    margin-left: 20px;
    width: 230px;
    margin-top: 10px;
}
.flexitem{
    width: 130px;
    font-size: 25px;
    text-align: center;
    color: white;
}

#flexitem3{
    position: absolute;
    right: 10px;
    font-size: 40px;
}

.navelement{
    width: 100%;
    height: 40px;
    font-family: 'Bree Serif', serif;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}
.navelement:hover{
    font-size: 31px;
}
/* About us section */
.aboutus{
    font-family: 'Rubik', sans-serif;
    margin-top: 1px;
    background: rgb(58,134,255);
    
background: linear-gradient(90deg, rgba(58,134,255,1) 1%, rgba(246,0,192,1) 100%);
    height: 100px;
    padding: 20px;
    color: white;
    font-size: 38px;
    display: none;
    border-radius: 0px 0px 20px 20px;
    
}

/* Contact us */
.contact{
    border-radius: 0px 0px 20px 20px;
    font-family: 'Rubik', sans-serif;
    margin-top: 1px;
    background: rgb(58,134,255);
background: linear-gradient(90deg, rgba(58,134,255,1) 1%, rgba(246,0,192,1) 100%);
    height: 120px;
    padding: 20px;
    color: white;
    font-size: 20px;
    display: none;
}
.logos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.social-media{
    margin-left: 40px;
    margin-right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    transition: all 1s;

}
.social-media:hover{
    transform: scale(1.4);
}

#Facebook{
    color: #4267B2;
}
#Instagram{
    color:  #cd486b;
}
#Linkdin{
    color:  #0072b1;
}
/* Login form work */
.login{
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 30px 20px 20px 80px;
    height: 400px;
    width: 300px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 18px  8px 36px 3px lightgray;
}

#formcontent1 , #formcontent2 , #formcontent3{
    border-bottom: 1px solid #3A86FF;
}
input{
    border: none;
    display: inline-block;
    transition: all 2s;
    width: 60%;
    height: 30px;
    border-radius: 6px;
}

input[type=submit]{
    width: 100%;
    height: 40px;
    background-color: #3A86FF;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

input[type=submit]:hover{
    border: none;
    width: 100%;
    color: white;
    background-color: #F600C0;
}
input:hover{
    width: 100%;
    border: none;
    border: 1px double #F600C0;
}

.head{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}

.formcontent{
    margin-top:20px;
}
label{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.box{
    display: flex;
}


.footer{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    transition: all 1s;
}
#signup{
    font-size: 20px;
    transition: all 1s; 
}
#signup:hover{
    font-size: 30px;
    color: #3A86FF;
}


/* Animation Content work */
.Content{
    border-radius: 20px;
    padding: 20px;
    margin: 30px 20px 20px 40px;
    height: 400px;
    width: 400px; 
}
.head1::before{
    content: "";
    width: 100%;
    height: 100%;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    animation: changing infinite 12s;
}

@keyframes changing {
    0%{
        content: "Why should we learn Coding from you?";
    }
    50%{
        content: "What are you going to teach?";
    }
    100%{
        content: "Will it be fun?";
    }
}
.dis::before{
    content: "";
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    animation: changingd infinite 12s;
}
@keyframes changingd {
    0%{
        content: "Because I have learned coding by my own and made lot of mistakes. I am sure that I can make your coding experience a lot fun and easier";
    }
    50%{
        content: "I will be teaching you Java, Webtech and SQL and much more";
    }
    100%{
        content: "Once you start learning and applying you will have a wide range of fun while solving creative problems";
    }
}


/* Foot content Design */

.foot{
    background: rgb(58,134,255);
    background: linear-gradient(90deg, rgba(58,134,255,1) 1%, rgba(246,0,192,1) 100%);
        height: 100px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Bree Serif', serif;
}

.footitem{
    width: 100px;
    font-size: 40px;
    color: white;
    transition: all 1s;
}

.footitem:hover{
    font-size: 60px;
    transform: rotate(-20deg);
}


/* Subject body */

.subject{
    display: flex;
    height: 600px;
    width: 100%;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* align-content: space-between; */
}
.sub{
    background: rgb(58,134,255);
    padding: 20px;
    width: 320px;
    margin: 30px;
    border-radius: 20px;
    padding: 20px;
    /* align-items: stretch; */
    display: flex;
    flex-direction: column;
    box-shadow: 18px  8px 36px 3px lightgray ;
}

.title{
    font-size: 40px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    transition: 1s all;
}

.title:hover{
    transform: scaleY(1.2);
}

.t2{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
.dis0{
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-left: 20px;
}
li{
    transition: width 0.5s;
    width: 230px;
}
li:hover{
    width: 280px;
    font-size: 30px;
    border-radius: 4px;
    background-color: #78a7f3;
}

.go{
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    background-color: white;
    color: #262626;
}
.go:hover{
    background-color: #ff66de;
    color: white;
}

#sb1{
    margin-top: 40px;
}

#sb2{
    margin-top: 40px;
}

#sb3{
    margin-top: 120px;
}


/* .glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */


/* Lecture basic structure */
.L{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Theory {
    padding: 20px;
    border-radius: 10px;
    width: 820px;
    margin: 20px;
    border: 1px solid lightgray;   
    box-shadow: 18px  8px 36px 3px lightgray ;
    height: 40px;
    overflow: hidden;
}
.th1{
    margin-top: 20px;
    color: #262626;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.expla{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.code{
    background-color: #262626;
    color:white;
    padding: 10px;
    border-radius: 10px;
}